<div style="z-index: 101;top: 0;left: 0;right: 0;background: #fde073;text-align: center;overflow: hidden;padding: .25em 2em;box-shadow: 0 0 5px black; font-size:18px;" id="covid-notice"><a href="https://libguides.bc.edu/servicesupdate">BC Libraries Services Update - COVID-19</a><div class="closed-notice" style="font-size: 16px">All BC Libraries are closed. However, <a href="https://libguides.bc.edu/servicesupdate">remote services remain operational</a>.</div></div>
<div id="bclib-header" class="hide-search bc-top-nav-bar layout-row" tabindex="0" role="banner">
    <prm-skip-to tabindex="0">
        <!---->
        <a class="md-button md-primoExplore-theme md-ink-ripple" ng-transclude="" href="" tabindex="0" ng-repeat="link in $ctrl.skipLinks track by link"
            (click)="$ctrl.scrollToElementId(link)" aria-label="Skip To Main Menu">
            <span translate="">Skip To Main Menu</span>
        </a>
        <!---->
        <a class="md-button md-primoExplore-theme md-ink-ripple" ng-transclude="" href="" tabindex="0" ng-repeat="link in $ctrl.skipLinks track by link"
            (click)="$ctrl.scrollToElementId(link)" aria-label="Skip To Search">
            <span translate="">Skip To Search</span>
        </a>
        <!---->
        <prm-skip-to-after parent-ctrl="$ctrl"></prm-skip-to-after>
    </prm-skip-to>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-6 col-xxs" id="banner" tabindex="0" role="banner">
                <a href="https://library.bc.edu" title="Go to Boston College Libraries" class="bclib-header-logo">
                    <img src="https://library.bc.edu/theme/img/title_295x30_transparent_whitetext.png" id="fakebctitle" alt="Boston College Library Logo"
                        width="295" height="30">
                    <p>Boston College Libraries</p>
                </a>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-6 col-xxs header-right">
                <div class="col-md-7 col-sm-7 col-xs-7 col-xxs link-wrapper">
                    <ul class="bclib-header-links">
                        <li>
                            <a href="https://bc.edu">BC Home</a>
                        </li>
                        <li>
                            <a href="https://www.bc.edu/bc-web/about/mission.html">Mission</a>
                        </li>
                        <li>
                            <a href="https://library.bc.edu/feedback/">
                                <span class="fa fa-commenting-o" aria-hidden="true"></span> Feedback</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 col-xxs input-wrapper">
                    <div class="pull-right">
                        <form action="https://www.bc.edu/bc-web/search.html">
                            <div class="input-group" id="bclib-header-form">
                                <label for="bclib-header-search" class="accessibility-text">Search the Library</label>
                                <input type="hidden" ie="UTF-8" />
                                <input type="text" id="bclib-header-search" class="form-control" name="q" placeholder="Search bc.edu">
                                <span class="input-group-btn">
                                    <button class="btn btn-default">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span class="accessibility-text">Submit Search</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>